$text-colour: rgba(0, 0, 0, 1);

$background-colour: rgba(13, 110, 139, 0.3);
$text-colour: rgba(255, 255, 255, 1);

$ham-bg-colour: rgba(13, 110, 139, 0.3);
$ham-txt-colour: rgba(255, 255, 255, 1);
$ham-overlay: rgba(13, 110, 139, 0.85);

$menu-text-colour: rgb(0, 0, 0);
$menu-highlight: rgb(208, 193, 99);
$menu-speed: 0.75s;

$btn-text-colour: $menu-text-colour;
$btn-highlight: $menu-highlight;
$btn-bg-colour: $background-colour;
